/*
 * Hey, you! If you are ever tasked to edit my codebase,
 * I organize by type, and then alphabetically.
 * To find .ex, you would scroll to the class comment,
 * and then look under 'e'.
 * ~Captain Lightning, June 27 2011
 */

/*
 * Document properties go here.
 */

a {
	outline: none;
	color: #fff;
	text-decoration: none;
}

a:hover {
	outline: none;
	color: #2B879E;
}

a:active, a:visited {
	outline: none;
}

body {
	margin: 0px;
	background: #353A3F url('/game/inc/images/concrete_wall.png');
}

html { 
	overflow-y: scroll;
}

input[type=submit],label,select,.pointer  {
	 cursor:pointer; 
}
li a { 
	display:block; 
	}

/*
 * Div identifiers start here.
 */

#content {
	float: left;
	padding: 10px;
	background: #111111;
	width: 1130px;
	margin-left: 5px;
}

#container {
	left: -50%;
	float: left;
	position: relative;
	width: 1162px;
	margin: 0 auto;
	margin-bottom: 50px;
}

#header {
	background: url('/game/inc/images/hardcore_header.png');
	height: 100px;
	width: 1162px;
	margin: 0 auto;
}

#manliness {
	margin-bottom: 110px;
}

#manliness_image, #richliness_image {
	float: left;
}

#manliness_level, #richliness_level {
	margin-top: 10px;
	float: left;
	clear: right;
}

#manliness_title, #richliness_title {
}

#manliness_level_bar, #richliness_level_bar {
	margin-left: 10px;
	display: block; 
	background: #3a3a3a;
	width: 225px; 
	height: 20px; 
	border-radius: 2px;
}

#manliness_level_overlay, #richliness_level_overlay {
	margin-left: 10px;
	position: relative;
	top: 20px;
	display: block; 
	background: url('/game/inc/images/levelbar.png'); 
	width: 0px; 
	height: 20px; 
	border-radius: 2px;
}

#manliness_level_info, #richliness_level_info {
	position: relative;
	left: 20px;
	top: 10px;
}

#left {
	float: left;
	width: 70%;
}

#right {
	float: right;
	width: 30%;
}

#richliness {
	
}

#user_list, #enemy_list {
	height: 150px;
}

#users_header, #enemies_header {
}

/*
 * Classes start here
 */

.content_header {
	color: #fff;
	font-size: 72px;
}

.enemy {
	padding: 5px;
	float: left;
}

.stat {
	font-size: 60pt;
}

.subtitle {
	font-size: 14pt;
	color: #ACACAC;
}

/*
 * Fonts
*/
@font-face {
	font-family: blackout;
	src: url('/game/inc/Blackout-2am.ttf');
}

.blackout {
	color: #b7b7b7;
	font-family: blackout;
}

@font-face {
	font-family: fanwood;
	src: url('/game/inc/FanwoodText.otf');
}

.fanwood {
	font-family: fanwood;
}
